* {
    outline: 1px solid red;
}

header h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    background-color: #111411e3;
    color: white;
    padding: 25px;
    letter-spacing: 0.25em;
    margin: 0;

}

#sportsButton {
    padding: 15px;
}

.main {
    display: flex;
}

form {
    box-sizing: border-box;
    flex: 1;
}

#sports-gif {
    flex: 2;
    padding: 10px;
    box-sizing: border-box;
}

#sports-form label {
    display: block;
    font-weight: bolder;
    margin: 15px 15px;
}

#sports-input {
    display: block;
    margin: 15px 15px;
}

#searchGif {
    margin: 10px 15px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-size: 16px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    padding: 8px 16px;
    box-shadow: 0px 6px 0px, 0px 3px 15px;
}

#searchGif:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
    box-shadow: 0px 6px 0px, 0px 3px 15px, rgba(0,0,0,.4);
}

.button {
    margin: 5px 10px;
    padding: 5px 15px; 
    padding:0.3em 1.2em;
    background-color: rgb(138, 4, 4);
    color: white;
}
